<!--
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Flask Website</title>
  </head>
  <body>
  -->
    <!--<h1>Hello World!!!!!!</h1>-->
    <!-- Jinja 2 way to provide input to html-->
    <!--<h1>{{ headline }}</h1> -->
    <!--{% if new_year %}
      <h1>Happy New Year!!!!!</h1>
    {% else %}
      <h1>NO</h1>
    {% endif %}-->

    <!--<h1>Names</h1>
    <ul>
      {% for name in names %}
        <li>{{ name }}</li>
      {% endfor %}
    </ul>
  -->
<!--
    <h1>First page</h1>
    <p> aaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaa
    </p>
    <a href="{{url_for('more') }}">See More.....</a>
  </body>
</html>

-->

<!--
{% extends "layout.html" %}

{% block heading %}
First Page
{% endblock%}

-->
<!--
{% block body%}

<p> aaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaa
</p>
<a href="{{url_for('more') }}">See More.....</a>

{% endblock %}
-->

{% extends "layout.html" %}

{% block heading %}
First Page
{% endblock%}


{% block body%}

<form action="{{ url_for('hello')  }}" method="post">
  <input type="text" name="name" placeholder="Enter your name">
  <button>Submit</button>
</form>

{% endblock %}
